.home-class{
  margin-top: 75px;
  margin-bottom:75px ;
  width: 100%;
  height: 100%;
  /* background-image: url("https://image.freepik.com/free-vector/watercolor-background_220290-34.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* body{
  background-image: url("https://image.freepik.com/free-vector/watercolor-background_220290-34.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
} */

.welcome-text{
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
 text-align: center;
}

.home-class .welcome-text h1{
  font-family: 'Poller One', cursive;
}
.home-class .welcome-text p{
  font-family: 'Pacifico', cursive;
}
.home-class img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;


}
